// 運用上の注意: 使用する画像をbuild/配下にも置く
@import 'normalize/import-now';
@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/bulma-switch/switch.sass';
@import '../../node_modules/bulma-tooltip/tooltip.sass';
@import "mixins";
@import "vars";
@import 'shogiBan';
@import 'toolbar';
@import 'kifu';
@import 'create';

// 棋譜表示コンポーネントのコンテナ
.c-kifuPlayer {
    margin-top: 20px;
    margin-left: 20px;
    width: 756px;
    height: 532px;
    position: relative;
    display: flex;

    @include border(#000);
}

.c-kifuPlayer:focus {
    outline: none;
}

//棋譜表示コンポーネントのインナークラス
.c-kifuPlayer_inner {
    height: 530px;
}

//ツールバー、コメント欄用のコンテナクラス
.c-kifuPlayer_inner2 {
    display: flex;
}
